# Fichiers d'environnement
.env
.env.local
.env.*.local

# Dossiers Node.js
node_modules/
dist/
build/

# Dossiers de données
input/*
!input/.gitkeep
output/*
!output/.gitkeep
sommaires/*
!sommaires/.gitkeep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.idea/
.vscode/
*.swp
*.swo 